@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "EuclidCircularB";
		font-weight: 300;
		src: url(/fonts/EuclidCircularB-Light.ttf) format("truetype");
		font-display: swap;
	}
	@font-face {
		font-family: "EuclidCircularB";
		font-weight: 400;
		src: url(/fonts/EuclidCircularB-Regular.ttf) format("truetype");
		font-display: swap;
	}
	@font-face {
		font-family: "EuclidCircularB";
		font-weight: 500;
		src: url(/fonts/EuclidCircularB-Medium.ttf) format("truetype");
		font-display: swap;
	}
	@font-face {
		font-family: "EuclidCircularB";
		font-weight: 600;
		src: url(/fonts/EuclidCircularB-SemiBold.ttf) format("truetype");
		font-display: swap;
	}
	@font-face {
		font-family: "EuclidCircularB";
		font-weight: 700;
		src: url(/fonts/EuclidCircularB-Bold.ttf) format("truetype");
		font-display: swap;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	@apply font-body relative bg-sand-200 dark:bg-sea-green-700;
}

h1 {
	@apply text-3xl font-semibold md:text-5xl font-heading;
}

h2 {
	@apply text-2xl font-semibold md:text-4xl font-heading;
}

h3 {
	@apply text-xl font-semibold md:text-3xl font-heading;
}

h4 {
	@apply text-lg font-semibold md:text-xl font-heading;
}

/* Initial Fade In */
.animate-fade-in-initial {
	@apply translate-y-10 opacity-0;
	transition: 0.3s ease-out;
	transition-property: transform, opacity;
}

.animate-fade-in-start .animate-fade-in-initial {
	@apply translate-y-0 opacity-100;
}
.hoverable-social-media {
	@apply text-lg text-gray-900 transform hover:text-blue-700 hover:-translate-y-1 transition duration-200 dark:text-white dark:hover:text-blue-600;
}

.animate-fade-in-start .animate-fade-in-initial.fade-in-1 {
	transition-delay: 100ms;
}
.animate-fade-in-start .animate-fade-in-initial.fade-in-2 {
	transition-delay: 200ms;
}
.animate-fade-in-start .animate-fade-in-initial.fade-in-3 {
	transition-delay: 300ms;
}
.animate-fade-in-start .animate-fade-in-initial.fade-in-4 {
	transition-delay: 400ms;
}
.animate-fade-in-start .animate-fade-in-initial.fade-in-5 {
	transition-delay: 500ms;
}
.animate-fade-in-start .animate-fade-in-initial.fade-in-6 {
	transition-delay: 600ms;
}
.animate-fade-in-start .animate-fade-in-initial.fade-in-7 {
	transition-delay: 700ms;
}
.animate-fade-in-start .animate-fade-in-initial.fade-in-8 {
	transition-delay: 800ms;
}
.animate-fade-in-start .animate-fade-in-initial.fade-in-9 {
	transition-delay: 900ms;
}
.animate-fade-in-start .animate-fade-in-initial.fade-in-10 {
	transition-delay: 1000ms;
}
