@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "EuclidCircularB";
		font-weight: 300;
		src: url(/fonts/EuclidCircularB-Light.ttf) format("truetype");
		font-display: swap;
	}
	@font-face {
		font-family: "EuclidCircularB";
		font-weight: 400;
		src: url(/fonts/EuclidCircularB-Regular.ttf) format("truetype");
		font-display: swap;
	}
	@font-face {
		font-family: "EuclidCircularB";
		font-weight: 500;
		src: url(/fonts/EuclidCircularB-Medium.ttf) format("truetype");
		font-display: swap;
	}
	@font-face {
		font-family: "EuclidCircularB";
		font-weight: 600;
		src: url(/fonts/EuclidCircularB-SemiBold.ttf) format("truetype");
		font-display: swap;
	}
	@font-face {
		font-family: "EuclidCircularB";
		font-weight: 700;
		src: url(/fonts/EuclidCircularB-Bold.ttf) format("truetype");
		font-display: swap;
	}
}
@layer utilities {
	.vertical-lr {
		writing-mode: vertical-lr;
	}
	.vertical-rl {
		writing-mode: vertical-lr;
	}
}
html {
	scroll-behavior: smooth;
}

body {
	@apply font-body relative text-gray-800 dark:text-gray-300 bg-sand-200 dark:bg-darkBlue-500 transition-all;
}

.h1 {
	@apply text-4xl md:text-6xl;
}

.h2 {
	@apply text-3xl md:text-4xl;
}

.h3 {
	@apply text-2xl md:text-3xl;
}

.h4 {
	@apply text-xl md:text-2xl;
}
.h5 {
	@apply text-lg md:text-xl;
}

.custom-svg {
	@apply fill-current h-full w-full;
}
.custom-fill {
	@apply fill-current text-sand-200 dark:text-darkBlue-800;
}
.outline-button {
	@apply px-6 block min-w-[12ch] py-3 text-blue-700 ring-2 ring-blue-700 transition hover:bg-blue-700 hover:bg-opacity-20 dark:text-cyan-500 dark:hover:bg-opacity-20 dark:ring-cyan-500 dark:hover:bg-cyan-500 rounded-sm;
}
