@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "EuclidCircularB";
		font-weight: 300;
		src: url(/fonts/EuclidCircularB-Light.ttf) format("truetype");
		font-display: swap;
	}
	@font-face {
		font-family: "EuclidCircularB";
		font-weight: 400;
		src: url(/fonts/EuclidCircularB-Regular.ttf) format("truetype");
		font-display: swap;
	}
	@font-face {
		font-family: "EuclidCircularB";
		font-weight: 500;
		src: url(/fonts/EuclidCircularB-Medium.ttf) format("truetype");
		font-display: swap;
	}
	@font-face {
		font-family: "EuclidCircularB";
		font-weight: 600;
		src: url(/fonts/EuclidCircularB-SemiBold.ttf) format("truetype");
		font-display: swap;
	}
	@font-face {
		font-family: "EuclidCircularB";
		font-weight: 700;
		src: url(/fonts/EuclidCircularB-Bold.ttf) format("truetype");
		font-display: swap;
	}
}
html {
	scroll-behavior: smooth;
}

body {
	@apply font-body relative text-gray-800 dark:text-white bg-sand-200 dark:bg-darkBlue-500 transition;
}

h1 {
	@apply text-3xl font-semibold md:text-5xl font-heading;
}

h2 {
	@apply text-2xl font-semibold md:text-4xl font-heading;
}

h3 {
	@apply text-xl font-semibold md:text-3xl font-heading;
}

h4 {
	@apply text-lg font-semibold md:text-xl font-heading;
}

.custom-svg {
	@apply fill-current h-full w-full;
}
.custom-fill {
	@apply fill-current text-sand-200 dark:text-darkBlue-800;
}
